h1, h2 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Roboto Slab', arial;
}

#funText {
	color: black;
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

#box {
	height: 100px;
	width: 100px;
	margin:auto;
}