h1, h2 {
	font-family: 'Roboto Slab', serif;
}

p {
	font-family: 'Roboto Slab', arial;
}

img {
    border: 15px solid orange;
}

.column {
    float: left;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }